/*
Error: Invalid mixin "======".
        on line 26 of /Users/artem/Desktop/dash/sass/style.sass

21: @import "./popup-filter.sass"
22: @import "./video.sass"
23: @import "./card-speaker.sass"
24: <<<<<<< HEAD
25: @import "./card-survey.sass"
26: =======
27: @import "./timer.sass"
28: >>>>>>> main
29: 
30: // Pages
31: 

Backtrace:
/Users/artem/Desktop/dash/sass/style.sass:26
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:1127:in `parse_mixin_definition'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:659:in `parse_line'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:540:in `build_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 26 of /Users/artem/Desktop/dash/sass/style.sass\A \A 21: @import \"./popup-filter.sass\"\A 22: @import \"./video.sass\"\A 23: @import \"./card-speaker.sass\"\A 24: <<<<<<< HEAD\A 25: @import \"./card-survey.sass\"\A 26: =======\A 27: @import \"./timer.sass\"\A 28: >>>>>>> main\A 29: \A 30: // Pages\A 31: "; }
