.btn
  display: inline-block
  padding: 8px 16px
  font-weight: 600
  font-size: 15px
  line-height: 16px
  vertical-align: middle
  border-radius: 3px

  &-sm
    padding: 12px 28px

  &-md
    padding: 16px 30px

  &-lg
    padding: 16px 60px

  &-primary
    color: $color-white
    background: $color-green

  &-secondary
    display: flex
    align-items: center
    justify-content: center
    color: $color-blue
    background: $color-white

  &-transparent
    background-color: transparent

  &-border-blue
    border: 1px solid $color-blue

  &-arrow-left
    &__icon
      margin-right: 8px

  &-arrow-right
    &__icon
      margin-left: 16px

  &-arrow-blue
    path
      stroke: $color-blue

  &-arrow-white
    path
      stroke: $color-white

  &-color-grey
    color: $color-grey-40
  

// Todo: buttons
  &__text
    font-size: 15px
    font-weight: 600
    line-height: 16px
    color: $color-white

  &_lg
    padding: 16px 50px

  &__arrow
    display: flex
    align-items: center
    width: 16px
    height: 16px
    margin-left: 16px

  &_xl
    width: 100%


.btn-info
  display: flex
  justify-content: center
  align-items: center
  padding: 6px 14px
  background: $color-grey-10
  border-radius: 3px

  &__text
    font-size: 15px
    font-weight: 400
    line-height: 16px
    margin-left: 8px
    color: $color-grey-50

.btn-ask
  display: flex
  justify-content: center
  align-items: center
  padding: 6px 9px
  background: $color-white
  border-radius: 3px
  border: 1px solid $color-green-light

  &__text
    margin-left: 10px
    font-size: 15px
    font-weight: 400
    line-height: 16px
    color: $color-green

  &_lg
    width: 194px
    height: 47px
