.btn-primary
  display: flex
  background: $color-green
  border-radius: 3px
  padding: 10px 24px

  &__text
    font-size: 15px
    font-weight: 600
    line-height: 16px
    color: $color-white

  &_lg
    padding: 16px 56px

  &__arrow
    display: flex
    align-items: center
    width: 16px
    height: 16px
    margin-left: 16px

// Todo: edit btn-secondary (padding)

.btn-secondary
  display: flex
  align-items: center
  padding: 12px 28px
  border: 1px solid $color-grey-20
  border-radius: 3px
  background: $color-white

  &__text
    font-size: 15px
    font-weight: 600
    line-height: 16px
    margin-right: 16px
    white-space: nowrap
    color: $color-blue

  &__arrow
    width: 16px
    height: 16px

  &_full
    width: 100%
    justify-content: center

  &_lg
    width: 320px
    height: 48px

.btn-secondary-2
  display: flex
  justify-content: center
  align-items: center
  width: 156px
  height: 32px
  font-size: 15px
  font-weight: 600
  line-height: 16px
  background-color: $color-white
  border: 1px solid $color-blue
  border-radius: 3px

  &__text
    color: $color-blue

  &_deactive
    width: 87px
    margin-left: 12px
    border: 1px solid $color-grey-20

    span
      color: $color-grey-40

.btn-info
  display: flex
  justify-content: center
  align-items: center
  width: 115px
  height: 28px
  background: $color-grey-10
  border-radius: 3px

  &__text
    font-size: 15px
    font-weight: 400
    line-height: 16px
    color: $color-grey-50

.btn-ask
  display: flex
  justify-content: center
  align-items: center
  width: 115px
  height: 28px
  background: $color-white
  border-radius: 3px
  border: 1px solid $color-green-light

  &__text
    margin-left: 10px
    font-size: 15px
    font-weight: 400
    line-height: 16px
    color: $color-green

  &_lg
    width: 194px
    height: 47px
