.btn-primary
  display: flex
  background: #00877B
  border-radius: 3px
  padding: 10px 22px

  span
    font-size: 15px
    font-weight: 600
    line-height: 16px
    color: #fff

  &.lg
    padding: 16px 56px

  .arrow
    display: flex
    align-items: center
    width: 16px
    height: 16px
    margin-left: 16px

// Todo: edit btn-secondary (padding)

.btn-secondary
  display: flex
  justify-content: center
  align-items: center
  margin-right: 31px
  width: 178px
  height: 40px
  border: 1px solid #E0E5E9
  border-radius: 3px
  background: #fff

  span
    font-size: 15px
    font-weight: 600
    line-height: 16px
    margin-right: 16px
    color: #247BFD

    .arrow
      width: 16px
      height: 16px

  &.w-full
    width: 100%

  &.lg
    width: 320px
    height: 48px

.btn-secondary-2
  display: flex
  justify-content: center
  align-items: center
  width: 156px
  height: 32px
  font-size: 15px
  font-weight: 600
  line-height: 16px
  background-color: #fff
  border: 1px solid #247BFD
  border-radius: 3px

  span
    color: #247BFD

  &.deactive
    width: 87px
    margin-left: 12px
    border: 1px solid #E0E5E9

    span
      color: #ACADB8

.btn-info
  display: flex
  justify-content: center
  align-items: center
  width: 115px
  height: 28px
  background: #F7F7F8
  border-radius: 3px

  span
    font-size: 15px
    font-weight: 400
    line-height: 16px
    color: #676874

.btn-ask
  display: flex
  justify-content: center
  align-items: center
  width: 115px
  height: 28px
  background: #fff
  border-radius: 3px
  border: 1px solid #66B7B0

  span
    margin-left: 10px
    font-size: 15px
    font-weight: 400
    line-height: 16px
    color: #00877B

  &.lg
    width: 194px
    height: 47px
