.card-header-left
  display: flex
  max-width: 450px
  min-height: 236px
  border: 1px solid $color-grey-20
  box-shadow: 0px 10px 10px rgba(142, 142, 142, 0.05)
  border-radius: 4px
  background-color: $color-white

  &__header
    width: 73px
    background: linear-gradient(180deg, #E3E9EE 0%, #F6F8FB 100%)
    border-radius: 2px
    padding: 12px 8px 0 9px

  &__circle
    display: flex
    justify-content: center
    align-items: center
    min-width: 56px
    min-height: 56px
    background: #EDF1F5
    border-radius: 50%

  &__content
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 28px 32px 32px 24px

  &__title
    font-size: 20px
    font-weight: 600
    line-height: 24px
    margin-bottom: 8px
    color: $color-dark

  &__desc
    color: $color-grey-50

  &:first-child
    margin-right: 31px
