.card-visitor
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 190px
  height: 174px
  margin-right: 21px
  margin-bottom: 32px
  background: $color-white
  border: 1px solid $color-grey-20
  border-radius: 4px
  opacity: .5

  &__photo
    width: 60px
    height: 60px
    margin-bottom: 16px

  &__title
    margin-bottom: 4px
    font-weight: 600
    font-size: 16px
    line-height: 16px
    color: $color-grey-40

  &__count
    margin-bottom: 16px
    font-weight: normal
    font-size: 12px
    line-height: 12px
    opacity: 0

  &__status
    font-weight: 600
    font-size: 12px
    line-height: 10px
    color: $color-grey-40

  &__done-img
    position: absolute
    right: 7px
    top: 7px
    opacity: 0

  &__percent-wrap
    display: none
    justify-content: center
    align-items: center

  &__percent
    font-size: 12px
    font-weight: 600
    line-height: 10px
    margin-right: 5px
    color: $color-green

  &__progress-bar
    width: 91px
    height: 3px
    background: $color-grey-20
    border-radius: 10px

  &__indicator
    width: 34%
    height: 100%
    background-color: $color-white
    background: #66B7B0
    border-radius: 10px

  &_completed
    background: #F6F9F8
    border: 1px solid $color-green-light
    opacity: .8

    .card-visitor__title
      color: $color-grey-50

    .card-visitor__count
      opacity: 1
      color: $color-grey-50

    .card-visitor__status
      color: $color-green

    .card-visitor__done-img
      opacity: 1

  &_active
    transform: scale(1.06)
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
    opacity: 1

    .card-visitor__photo
      opacity: 1

    .card-visitor__title
      color: $color-dark

    .card-visitor__count
      opacity: 1
      color: $color-grey-50

    .card-visitor__status
      display: none
      color: $color-green

    .card-visitor__percent-wrap
      display: flex

    .card-visitor__done-img
      opacity: 0
