.input-wrap
  display: flex
  flex-direction: column
  justify-content: center
  width: 372px
  height: 56px
  margin-right: 22px
  margin-bottom: 24px
  padding-left: 24px
  padding-right: 24px
  background-color: $color-white
  border: 1px solid $color-grey-20
  border-radius: 3px

  &_search
    width: 100%

  &__label
    font-weight: normal
    font-size: 14px
    line-height: 16px
    color: $color-grey-50

  &__input
    font-size: 16px
    font-weight: 600
    line-height: 16px
    color: $color-dark
    outline: none

  &__select
    font-size: 16px
    font-weight: 600
    line-height: 16px
    outline: none
    margin-left: -4px

  &-flag
    @extend .input-wrap
    display: flex
    flex-direction: row
    align-items: center

    &__select
      display: flex
      height: 100%
      border-right: 1px solid $color-grey-20

    &__number
      display: flex
      align-items: center
      padding-left: 24px
      width: 100%
      height: 100%

  &_filter
    margin-right: 0

  &__input_filter
    font-size: 15px
    line-height: 16px
    color: $color-grey-40