.interactive-card-active
  display: flex
  align-items: center
  padding: 14px
  height: 84px
  color: $color-dark
  border: 1px solid $color-green
  border-left: 4px solid $color-green
  box-shadow: 0px 5px 5px rgba(0, 135, 123, 0.05)
  border-radius: 4px
  background-color: $color-white

  &__avatar
    display: flex
    margin-right: 10px

  &__info
    margin-right: 23px

  &__title
    margin-bottom: 8px
    font-weight: 600
    line-height: 16px
    color: $color-dark

  &__count
    margin-bottom: 10px
    font-size: 12px
    line-height: 12px
    color: $color-grey-50

  &__percent-wrap
    display: flex
    align-items: center

  &__percent
    font-size: 12px
    font-weight: 600
    line-height: 10px
    margin-right: 5px
    color: $color-green

  &__progress-bar
    width: 91px
    height: 3px
    background: $color-grey-20
    border-radius: 10px

  &__indicator
    width: 34%
    height: 100%
    background-color: $color-white
    background: $color-green-light
    border-radius: 10px
