.sidebar
  min-width: 301px
  background-color: $color-white

  &__content
    padding: 32px 0 30px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%

  &__item
    display: flex
    height: 40px
    align-items: center
    border-left: 2px solid transparent

    &:hover
      border-left: 2px solid $color-green
      background-color: #F7F9FB

      .sidebar__icon
        stroke: $color-green-light
        
      .sidebar__text
        color: $color-dark

  &__item-active
    width: 2px
    margin-right: 30px

  &__text
    padding-left: 16px
    font-size: 18px
    line-height: 16px
    color: $color-grey-50
