.timer
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 471px
  margin-bottom: 33px
  margin-top: -11px
  padding: 4px 4px 4px 20px
  border: 1px solid $color-grey-20
  border-radius: 6px

  &__title
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: $color-grey-50

  &__block
    display: flex
    padding: 6px 12px
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05)
    border-radius: 4px
    background: $color-white

  &__block-item
    display: flex
    flex-direction: column

  &__time
    font-weight: 300
    font-size: 20px
    line-height: 20px
    margin-bottom: 1px
    color: $color-dark

  &__text
    font-weight: 300
    font-size: 9px
    line-height: 10px
    text-transform: uppercase
    color: $color-grey-40

  &__points
    margin: 0 10px
    font-weight: 300
    font-size: 20px
    line-height: 20px
